.profile-control {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 13px;
    border-bottom: 1px solid var(--color-light-grey);

    &__input {
        width: 300px;
        border: none;
        color: var(--color-grey);
        text-align: end;

        &:focus {
            text-align: start;
        }
    }
}
