@import url(../../styles/style.scss);
@import url(../../components/chatUser/chat-user.scss);

.chat {
    display: grid;
    overflow: hidden;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 8fr;

    &__contacts-panel {
        overflow: auto;
        min-width: 400px;
        padding: 0 16px 8px;
        border-right: 1px solid var(--color-light-grey);
        background: var(--color-white-panel);
    }

    &__contacts-top-panel {
        position: sticky;
        top: 0;
        height: 80px;
        padding-bottom: 20px;
        background: #fbfbfb;
    }

    &__contacts-profile {
        padding: 20px 0;
        text-align: right;

        a {
            color: var(--color-grey);
            font-size: 12px;
        }
    }

    &__contacts-search {
        width: 100%;
        height: 32px;
        border: none;
        border-radius: 6px;
        background-color: var(--color-dirty-white);
        font-size: 12px;
        text-align: center;

        &:focus {
            text-align: unset;
        }
    }

    &__contacts {
        display: grid;
    }

    &__user {
        display: flex;
        padding: 10px 0;
        border-top: 1px solid var(--color-light-grey);
        border-bottom: 1px solid var(--color-light-grey);
        gap: 10px;
    }

    &__user-info {
        display: grid;
        width: 100%;
        gap: 4px;
    }

    &__user-avatar {
        width: 47px;
        margin: unset;
    }

    &__user-name {
        font-size: 13px;
    }

    &__user-text {
        margin: unset;
        font-size: 12px;
    }

    &__user-time {
        font-size: 9px;
    }

    &__dialog {
        display: flex;
        overflow: hidden;
        height: 100%;
        flex-direction: column;
        padding: 0 16px 8px;
    }

    &__dialog-top-panel {
        position: sticky;
        top: 0;
        display: grid;
        height: 54px;
        align-content: center;
        border-bottom: 1px solid var(--color-light-grey);
    }

    &__dialog-contact {
        display: flex;
        align-items: center;
        gap: 10px;

        img {
            width: 34px;
        }
    }

    &__dialog-bottom-panel {
        position: sticky;
        bottom: 0;
        display: grid;
        width: 100%;
        height: 54px;
        align-content: center;
        border-top: 1px solid var(--color-light-grey);
    }

    &__input {
        width: 100%;
        height: 32px;
        padding: 10px;
        border: none;
        border-radius: 30px;
        background-color: var(--color-dirty-white);
    }
}

.dialog {
    display: flex;
    overflow: auto;
    height: 100%;
    flex-direction: column;
    padding: 20px;
    gap: 20px;

    &__message {
        max-width: 350px;
        padding: 20px;
        border-radius: 0 10px 10px;
        background: var(--color-close-to-white);
        font-size: 13px;

        &_mine {
            align-self: flex-end;
            border-radius: 10px 0 10px 10px;
            background: var(--color-light-blue);
        }
    }
}
