@import url(normalize.scss);
@import url(constants.scss);

@font-face {
    font-family: Inter;
    src: url('../assets/fonts/Inter-Regular.ttf');
}

* {
    font-family: Inter, sans-serif;
}

a {
    text-decoration: none;
}

ul {
    padding: unset;
    margin: unset;
}

button {
    color: #fff;
    cursor: pointer;
}

body {
    margin: unset;
}

li {
    display: block;
}

.link-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    gap: 20px;
    text-align: center;
}
