.user {
    display: flex;
    padding: 10px 0;
    border-top: 1px solid var(--color-light-grey);
    border-bottom: 1px solid var(--color-light-grey);
    gap: 10px;

    &__avatar {
        width: 47px;
        margin: unset;
    }

    &__name {
        font-size: 13px;
    }

    &__text {
        margin: unset;
        font-size: 12px;
    }

    &__time {
        font-size: 9px;
    }
}
